<div mat-dialog-content>
  <mat-form-field>
    <input matInput type="text" placeholder="Category" [(ngModel)]="result.title" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Description" [(ngModel)]="result.description" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Budget" [(ngModel)]="result.budget" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="result" cdkFocusInitial>OK</button>
</div>
